@mixin responsiveContent {
  width: 20rem;
  margin-top: 2rem;
}

.sketch {
  &__container {
    position: absolute;
    top: -1rem;
    left: 0;
  }

  &__picker {
    background-color: transparent;

    &--container {
      display: flex;
      justify-content: flex-end;
      min-width: 30rem;

    }
  }
}

.controlPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .controlPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;

    &>button {
      @include responsiveContent();
    }

    &>input {
      @include responsiveContent();
      width: 18rem;
    }
  }
}