@mixin responsiveContent {
  width: 20rem;
  margin-bottom: 2rem;
}
.sketch {
  &__container {
    position: absolute;
    top: 1;
    left: 0;
  }
  &__picker {
    &--container {
      display: flex;
      justify-content: flex-end;
      min-width: 30rem;
    }
  }
}

.controlPanel {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .controlPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    & > button {
      @include responsiveContent();
    }
    & > input {
      @include responsiveContent();
      width: 18rem;
    }
  }
}
