@keyframes fadeInLeft {
  from {
    left: -100vw;
  }
  to {
    left: -15px;
  }
}

@keyframes fadeOutLeft {
  from {
    left: -15px;
  }
  to {
    left: -100vw;
  }
}

.fadeIn {
  &__left {
    animation: fadeInLeft 0.6s ease forwards;
  }
}
.fadeOut {
  &__left {
    animation: fadeOutLeft 0.6s ease forwards;
  }
}
