@mixin font {
  font-family: "Roboto-Regular";
}

@mixin small {
  font-size: 1.4rem;
}
@mixin medium {
  font-size: 1.6rem;
}
@mixin large {
  font-size: 2rem;
}
@mixin extraLarge {
  font-size: 2.4rem;
}

.paragraph {
  @include font;
  &-s {
    @extend .paragraph;
    @include small;
  }
  &-m {
    @extend .paragraph;
    @include medium;
  }
  &-l {
    @extend .paragraph;
    @include large;
  }
  &-xl {
    @extend .paragraph;
    @include extraLarge;
  }
}
