*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto-Regular";
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
  & > .container {
    @extend .paragraph-m;
    width: 100rem;
  }
}

.container {
  background-color: transparent;
  z-index: 200;
}

footer,
header {
  @extend .paragraph-m;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  background-color: $white-broken;
  & > div {
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
}

.header {
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 3rem;
  }
}
@media (max-width: 600px) {
  .header {
    &__container {
      width: 100vw;
      margin-left: 0;
    }
  }
}
