$primary-blue: #6083b4;
$primary-dark: #4d6a94;
$primary-blue-light: #c8dcff;
$primary-blue-lighter: #d5e5ff;

$white-broken: #f8f8f8f5;
$white-broken-darker: #b9b9b9f5;

$color-primary: #2F2F2F;
$color-text-default: #CACACA;
$color-text-light: #8A8A8A;
$color-text-lighter: #989898;
$color-primary-dark: #5680e9;
$color-blue-dark: #5ab9ea;
$color-blue-light: #84ceeb;
$color-blue-standard: #80cceb;
$color-primary-light: #c1c8e4;
$color-primary-white: #feffff;
$color-primary-orange: #b97318;
$color-primary-orange-lighter: #e09634;
$color-primary-red: #882121;